<div class="row">
    @* Our 5 colums is now split into 12 more columns *@
    <div class="col-6">
        @* Value states to go back to the Create index page *@
        <input type="submit" class="btn btn-info form-control" value="Create" />
    </div>
    <div class="col-6">
        <a asp-page="Index" class="btn btn-success form-control">Back to List</a>
    </div>
</div>